BOT_TOKEN=
ENLACE_1_IP=
ENLACE_1_NOMBRE=Enlace 1
ENLACE_1_WEB_URL=
ENLACE_2_IP=
ENLACE_2_NOMBRE=Enlace 2
ENLACE_2_WEB_URL=
OWNER_CHAT_ID=0
IMAGE_SELECTOR=img[alt='Daily Graph']
PING_INTERVAL=60
PING_TIMEOUT=5
REPORT_INTERVAL=3600
